{% extends "layout.html" %}
{% block body %}
<table>
	<tr class="header">
		<td class="header">
			Status
		</td>
		<td class="header">
			Data
		</td>
		<td class="header">
			Gazde
		</td>
		<td class="header">
			Oaspeti
		</td>
		<td class="header">
			Scor_O
		</td>
		<td class="header">
			Scor_G
		</td>
		<td class="header">
			Pauza_G
		</td>
		<td class="header">
			Pauza_O
		</td>
		<td class="header">
			Rezultat
		</td>

	</tr>
	{%for obj in echipa %} 
	<tr>
		<td>
			{{obj.status}}
		</td>
		<td>
			{{obj.data}}
		</td>
		<td>
			{{obj.home_team}}
		</td>
		<td>
			{{obj.away_team}}
		</td>
		<td>
			{{obj.home_Fresult}}
		</td>
		<td>
			{{obj.away_Fresult}}
		</td>
		<td>
			{{obj.home_HTresult}}
		</td>
		<td>
			{{obj.away_HTresult}}
		</td>
		<td>
			{% if obj.home_Fresult > obj.away_Fresult %}
			{% set homewin = homewin + 1%}
			{% elif obj.home_Fresult < obj.away_Fresult %}
			{% set awaywin = awaywin + 1%}
		    	{% else %}
			{% set draw = draw + 1%}
		    	{% endif %}
		</td>
	</tr>
	{%endfor%}
	HOMEWIN {{homewin}}
	AWAYWIN {{awaywin}}
	DRAW {{draw}}
</table>
{% endblock %}
