body {
		background-color: cadetblue;
		font-family: Ubuntu; 
}
	
table {
	margin: 0 auto;
	width: auto;
	margin-top: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

td {
	width: auto;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	font-size: 14px;
}

tr {
	background-color: azure;
}

td.header{
	padding-top: 6px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
}

tr.header{
	background-color: gray;
	font-size: 13px;
}

